{% extends "home/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
<div class="site-blocks-cover" style="overflow: hidden;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
                <img src="{%static 'home/images/undraw_bookmarks_r6up.svg' %}" alt="Image"
                    class="img-fluid img-absolute">
                <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-6 mr-auto">
                        <h1>All Resources</h1>
                        <br><br>
                        <div>
                            <a href="#" class="btn btn-primary mr-2 mb-2">Post a Resource</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="site-section" id="our-team-section">
	<div class="container">

        <div class="author-box" data-aos="fade-right">
            <div class="d-flex mb-4">
                <div class="mr-auto text-black">
                    <h2><strong class="font-weight-bold mb-0">Apply Filters</strong></h2>
                </div>
            </div>
            <form action="">
                <div class="row form-group">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <label class="text-black" for="fname">Year</label>
                        <input type="text" id="fname" class="form-control rounded-0">
                    </div>
                    <div class="col-md-4">
                        <label class="text-black" for="lname">Branch</label>
                        <input type="text" id="lname" class="form-control rounded-0">
                    </div>
                    <div class="col-md-4">
                        <label class="text-black" for="lname">Subject Code</label>
                        <input type="text" id="lname" class="form-control rounded-0">
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-primary mr-2 mb-2">Search</a>
                    <a href="#" class="btn btn-primary mr-2 mb-2">Clear Search</a>
                </div>
            </form>
        </div>
		
		<div class="row mt-5">
			<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
				<div class="person">
					<div class="bio-img">
						<figure>
							<img src="{%static 'home/images/person_1.jpg' %}" alt="Image" class="img-fluid">
						</figure>
						<div class="social">
							<a href="#"><span class="icon-facebook"></span></a>
							<a href="#"><span class="icon-twitter"></span></a>
							<a href="#"><span class="icon-instagram"></span></a>
						</div>
					</div>
					<h2 class="text-black h1">Resource Title</h2>
					<span class="sub-title d-block mb-3">By: President</span>
                    <div class="meta mb-2">Subject Code <span class="mx-2">&bullet;</span> Subject Name<span
                        class="mx-2">&bullet;</span> <a href="#">Ratings</a></div>
                    <h2 class="text-black h1"><i class="fas fa-coins"></i> 10</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
						qui doloribus
						perspiciatis ipsa modi accusantium repellat.</p>
                    <div>
                        <a href="#" class="btn btn-primary mr-2 mb-2">Buy Now</a>
                    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
				<div class="person">
					<div class="bio-img">
						<figure>
							<img src="{%static 'home/images/person_2.jpg' %}" alt="Image" class="img-fluid">
						</figure>
						<div class="social">
							<a href="#"><span class="icon-facebook"></span></a>
							<a href="#"><span class="icon-twitter"></span></a>
							<a href="#"><span class="icon-instagram"></span></a>
						</div>
					</div>
					<h2 class="text-black h1">Resource Title</h2>
					<span class="sub-title d-block mb-3">By: President</span>
                    <div class="meta mb-2">Subject Code <span class="mx-2">&bullet;</span> Subject Name<span
                        class="mx-2">&bullet;</span> <a href="#">Ratings</a></div>
                    <h2 class="text-black h1"><i class="fas fa-coins"></i> 10</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
						qui doloribus
						perspiciatis ipsa modi accusantium repellat.</p>
                    <div>
                        <a href="#" class="btn btn-primary mr-2 mb-2">Buy Now</a>
                    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
				<div class="person">
					<div class="bio-img">
						<figure>
							<img src="{%static 'home/images/person_3.jpg' %}" alt="Image" class="img-fluid">
						</figure>
						<div class="social">
							<a href="#"><span class="icon-facebook"></span></a>
							<a href="#"><span class="icon-twitter"></span></a>
							<a href="#"><span class="icon-instagram"></span></a>
						</div>
					</div>
					<h2 class="text-black h1">Resource Title</h2>
					<span class="sub-title d-block mb-3">By: President</span>
                    <div class="meta mb-2">Subject Code <span class="mx-2">&bullet;</span> Subject Name<span
                        class="mx-2">&bullet;</span> <a href="#">Ratings</a></div>
                    <h2 class="text-black h1"><i class="fas fa-coins"></i> 10</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
						qui doloribus
						perspiciatis ipsa modi accusantium repellat.</p>
                    <div>
                        <a href="#" class="btn btn-primary mr-2 mb-2">Buy Now</a>
                    </div>
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock body %}